* {
  padding: 0px;
  margin: 0px;
  border: none;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.top-bar {
  height: 10%;
  width: 100%;
  background-color: #fae0f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-body {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-bar {
  width: 15%;
  height: 100%;
}

.main-app {
  width: 100%;
  height: 90%;
}

.side-bar .default {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fae0f1;
  align-items: stretch;
}

.filter-div {
  position: relative;
}

.filter-options {
  position: absolute;
  display:flex;
  flex-direction:column;
  top: 40px;
  left: 0;
  background-color: #ffffff;
  margin-left: 200px;
  margin-top:15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  width: 60vw;
  height: 64vh;
}

.filter-options p {
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 9px;
  color: #333;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.filter-options p:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.filter-options .btn-search{
  margin:auto;
  width:60px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding:2px;
  border-radius:100%;
  position:relative;
  z-index:10;
}

.filter-options .btn-search:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
